{{ "<!-- download Grid Section -->" | safeHTML }}
<section id="download" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.download.title }}{{ . | markdownify }}{{ end }}</h2>
        <h3 class="section-subheading text-muted">{{ with .Site.Params.download.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
    <div class="row">
      {{ range .Site.Data.projects }}
        <div class="col-md-4 col-sm-6 btn-spacer ">
            <a href="{{ .uri }}" class="page-scroll btn btn-xl btn-wide text-left" style="color:white">
              <i class="fa fa-group fa-{{ .img | markdownify }}" style="padding-right:0.8em;line-height:1.5em;font-size:2.5em;float:left; opacity:.7"></i>
              <div>{{ .title | markdownify }}</div>
              <div class="btn-small">{{ .line1 | markdownify }}</div>
              <div class="btn-small">{{ .line2 | markdownify }}</div>

            </a>
            <div>
              {{ with .gpg }}<a href="{{ . }}">GPG Signatures</a> | {{ end }}
              {{ with .bit32 }}<a href="{{ . }}">32bit</a> | {{ end }}
              {{ with .bit64 }}<a href="{{ . }}">64bit</a>{{ end }}
              {{ with .gpgPublicKey }}<a href="{{ . }}">GPG Public Key</a>{{ end }}
              &nbsp;
            </div>


        </div>
      {{ end }}
    </div>
  </div>
</section>
