{{ "<!-- Footer section -->" | safeHTML }}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <span class="copyright">{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</span>
      </div>
      <div class="col-md-12">
        <ul class="list-inline social-buttons ">
          {{ range .Site.Params.footerCommon.social }}
            <li class=""><a href="{{ .link }}"><i class="fa {{ .icon }}"></i></a></li>
          {{ end }}
        </ul>
      </div>

    </div>
  </div>
</footer>
