{{ "<!-- Hero -->" | safeHTML }}
<header>
  {{  .Site.Params.footer.test }}
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</div>
      <div class="intro-lead-in">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</div>
      <a href="#download" id="heroDownload" class="page-scroll btn btn-xl btn-spacer">
        <i class="fa fa-group fa-stack-1x  if-os-known " style="margin-left:-70px"></i>
        {{ with .Site.Params.download.download }}{{ . | markdownify }}{{ end }}
        <div class="btn-small detect"

          data-mac="{{ .Site.Params.download.mac }}"
          data-windows="{{ .Site.Params.download.windows }}"
          data-linux="{{ .Site.Params.download.linux }}"
          data-android="{{ .Site.Params.download.android }}"
        >
        </div>
      </a>
      <p>
        <a href="#download" class="page-scroll  ">{{ .Site.Params.download.gpg }}</a> | <a href="#download" class="page-scroll  ">Other Versions</a>
      </p>
    </div>
  </div>
</header>
{{ "<!-- Services Section -->" | safeHTML }}
