header {
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  background-image: url(../img/header-bg.jpg);
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
  margin-bottom: 25px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 22px;

  line-height: 22px;
}

header .intro-text .intro-heading {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 50px;
  font-weight: lighter;
  line-height: 50px;
}

@media(min-width:768px) {
  header .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
  }

  header .intro-text .intro-lead-in {
      margin-bottom: 25px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 40px;

      font-weight: 200;
      line-height: 40px;
  }

  header .intro-text .intro-heading {
      margin-bottom: 50px;
      text-transform: uppercase;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 60px;
      font-weight: lighter;
      line-height: 75px;
  }
}
